#formulaOutput {
    font-size: 40pt;
}

#selectWidget {
    margin: 25px;
}

#dropdowns {
    margin-top: 25px;
}


.dropdown-toggle {
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
}