#formulaOutput {
    font-size: 30pt;
    text-align: center;
}


table.fixed { 
    table-layout:fixed;
}

.chemElement {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

table.fixed td {
    width: 7vw;
    height: 50px;
    overflow: hidden; 
    text-align: center;  
}

.selem {
    background-color: #fc4949;
}
.pelem {
    background-color: #f1ff60;
}
.delem {
    background-color: #8dcbf4;
}