@{
    ViewBag.Title = "Dropdown based formulae";
    Layout = "_Layout";
}
@section Scripts{
    <script src="~/js/OutputFormula.js"></script>
    <script src="~/js/autocomplete.js"></script>
}
<link rel="stylesheet" href="~/css/autocomplete.css" />

<div class="container">
    <div class="row">

        <div class="col-md-5">
            <br />
            <div class="btn-group-lg" role="group" aria-label="...">
                <button id="revertButton" type="button" class="btn btn-danger">revert</button>
                <button id="addSubscriptButton" type="button" class="btn btn-primary">X <sub>n</sub></button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula"><sup>+</sup></button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula"><sup>-</sup></button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula">(</button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula">)</button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula">[</button>
                <button type="button" class="btn btn-default hasHtmlAppendableToFormula">]</button>
            </div>
            <br />
            <div class="center-block">
                <input type="text" class="list-group-item form-control-lg col-md-8" id="autoCompleteInput" placeholder="e.g. Ca, N, Fe" />
                <div id="elemsList" class="list-group col-md-8"></div>
            </div>
            

        </div>
        <p></p><p></p>
        <div class="col-md-4">
            <span class="vcenter" id="formulaOutput">C2H5OH</span>
        </div>

    </div>
</div>

