@{
    ViewData["Title"] = "Home Page";
}

<center>
    <img src="~/images/irving.jpg" style="height: 50vh;"/>
    <p>Irwing Langmure</p>
    <p></p>
    <p class="btn btn-warning"><a asp-controller="Home" asp-action="Dropdowns">Dropdowns</a></p>
    <p class="btn btn-warning"><a asp-controller="Home" asp-action="Table">Table</a></p>
    <p class="btn btn-warning"><a asp-controller="Home" asp-action="AutoComplete">AutoComplete</a></p>
    <p class="btn btn-warning"><a asp-controller="Home" asp-action="Selector">Selector</a></p>
</center>